.paginator-items .paginator-item {
  display: inline-block;
}

.paginator-items .paginator-item .paginator-link {
  padding: 0.6em 1em;
  font-size: 0.9em;
  color: #333;
  text-decoration: none;
}

.paginator-items .paginator-item.active .paginator-link {
  background-color: #333;
  color: #fff;
}

.paginator-items .paginator-item.disabled .paginator-link {
}
