footer {
  text-align: center;
  display: block;
  width: 100%;
  padding: 8em 0 1em 0;
  font-size: 0.6em;
  color: #333;
}

p {
  margin-bottom: 0.8em;
}

a {
  color: #333;
}

.icon::before {
  margin-left: 0.2em;
}

ul li {
  display: inline;
}

ul li::before {
  content: '|';
  padding: 0 0.8em;
}

ul li:first-of-type::before {
  content: '';
}

.heart-icon {
  animation: heart-beat 0.8s linear infinite;
}

@keyframes heart-beat {
  0%,
  100% {
    transform: initial;
  }

  50% {
    transform: translateY(-0.3em);
  }
}
