<div class="container">
  <div class="row">
    <div class="col-12">
      <ng-container
        *ngIf="
          !(isLoading$ | async) && {
            subjectData: subjectsData$ | async,
            popularSubjects: popularSubjects$ | async
          } as data;
          else: loading
        "
      >
        <ng-container
          *ngIf="data.popularSubjects && data.popularSubjects.length > 0"
        >
          <h5>Popular Subjects</h5>
          <ul class="list subject-list popular-subject-list">
            <ng-container *ngFor="let subject of data.subjectData.subjects">
              <li
                *ngIf="
                  data.popularSubjects &&
                  data.popularSubjects.includes(subject.subject)
                "
              >
                <a
                  class="list-item"
                  [routerLink]="['/subjects', subject.subject]"
                  ><div>
                    <p>
                      <b>{{ subject.subject }}</b>
                    </p>
                    <p class="description">{{ subject.description }}</p>
                  </div></a
                >
              </li></ng-container
            >
          </ul>
        </ng-container>
        <br />
        <h5>All Subjects</h5>
        <app-search-bar
          (contentEmitter)="handleFilter($event)"
          [placeHolder]="
            'Search by code or description (e.g., Computer Science)...'
          "
        ></app-search-bar>
        <ul class="list subject-list">
          <ng-container
            *ngFor="let subject of data.subjectData.subjectsToDisplay"
          >
            <li>
              <a
                class="list-item"
                [routerLink]="['/subjects', subject.subject]"
              >
                {{ subject.subject }}</a
              >
            </li></ng-container
          >
        </ul>
        <app-paginator
          [size]="data.subjectData.paginatedSubjects.length"
          (emitter)="handlePaginationEvent($event)"
        ></app-paginator>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #loading><app-spinner></app-spinner></ng-template>
<ng-template #error
  ><p class="message-padding-lg-center">Failed to fetch data</p></ng-template
>
