<div class="container">
  <div class="row">
    <div class="col-12">
      <div
        *ngIf="
          !(isLoading$ | async) && (subjects$ | async) as subjects;
          else: loading
        "
      >
        <h5>Popular Subjects</h5>
        <ul
          class="list subject-list popular-subject-list"
          *ngIf="(popularSubjects$ | async) as popularSubjects; else: loading"
        >
          <ng-container *ngFor="let subject of subjects">
            <li *ngIf="popularSubjects.includes(subject.subject)">
              <a class="list-item" [routerLink]="['/subjects', subject.subject]"
                ><div>
                  <p>
                    <b>{{ subject.subject }}</b>
                  </p>
                  <p class="description">{{ subject.description }}</p>
                </div></a
              >
            </li></ng-container
          >
        </ul>
        <br />
        <h5>All Subjects</h5>
        <app-search-bar
          (contentEmitter)="addFilterToAllSubjects($event)"
          [placeHolder]="
            'Search by code or description (e.g., Computer Science)...'
          "
        ></app-search-bar>
        <ul class="list subject-list">
          <ng-container *ngFor="let subject of filterSubjects(subjects)">
            <li>
              <a
                class="list-item"
                [routerLink]="['/subjects', subject.subject]"
              >
                {{ subject.subject }}</a
              >
            </li></ng-container
          >
        </ul>
      </div>
    </div>
  </div>
</div>
<ng-template #loading><app-spinner></app-spinner></ng-template>
<ng-template #error
  ><p class="message-padding-lg-center">Failed to fetch data</p></ng-template
>
