<div class="container">
  <div class="row">
    <div class="col-12">
      <ng-container
        *ngIf="
          !(isLoading$ | async) && (course$ | async) as course;
          else: loading
        "
      >
        <ng-container *ngIf="!(isError$ | async); else: error">
          <div class="row">
            <div class="col-12">
              <div>
                <div>
                  <h2 class="course-title">
                    {{ course.subject }} {{ course.catalog_number }} -
                    {{ course.title }}
                  </h2>
                  <div class="course-details">
                    <p class="course-description">{{ course.description }}</p>
                    <ul>
                      <li class="row">
                        <div class="col-lg-2 col-md-2"><b>Id:</b></div>
                        <div class="col-lg-10 col-md-10">
                          {{ course.course_id }}
                        </div>
                      </li>
                      <li class="row">
                        <div class="col-lg-2 col-md-2">
                          <b>Academic Level:</b>
                        </div>
                        <div class="col-lg-10 col-md-10">
                          {{ course.academic_level }}
                        </div>
                      </li>
                      <li class="row" *ngIf="course.units">
                        <div class="col-lg-2 col-md-2"><b>Units:</b></div>
                        <div class="col-lg-10 col-md-10">
                          {{ course.units }}
                        </div>
                      </li>
                      <li class="row" *ngIf="course.antirequisites">
                        <div class="col-lg-2 col-md-2">
                          <b>Anti-requisites:</b>
                        </div>
                        <div class="col-lg-10 col-md-10">
                          {{ course.antirequisites }}
                        </div>
                      </li>
                      <li class="row" *ngIf="course.prerequisites">
                        <div class="col-lg-2 col-md-2">
                          <b>Pre-requisites:</b>
                        </div>
                        <div class="col-lg-10 col-md-10">
                          {{ course.prerequisites }}
                        </div>
                      </li>
                      <li
                        class="row"
                        *ngIf="
                          course.terms_offered &&
                          course.terms_offered.length > 0
                        "
                      >
                        <div class="col-lg-2 col-md-2">
                          <b>Terms Offered:</b>
                        </div>
                        <div class="col-lg-10 col-md-10">
                          {{ course.terms_offered }}
                        </div>
                      </li>
                      <li class="row" *ngIf="course.notes">
                        <div class="col-lg-2 col-md-2"><b>Notes:</b></div>
                        <div class="col-lg-10 col-md-10">
                          {{ course.notes }}
                        </div>
                      </li>
                      <li>
                        <a
                          class="card-link course-website-link"
                          href="{{course.url}}"
                          >Course Website</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="row course-meta-container" *ngIf="!(isError$ | async)">
          <div class="col-12">
            <app-course-meta [course]="course"></app-course-meta>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #error
  ><p class="message-padding-lg-center">
    Failed to retrieve course data
  </p></ng-template
>
<ng-template #loading><app-spinner></app-spinner></ng-template>
