<div class="container">
  <div class="row">
    <div class="col-12">
      <div
        *ngIf="
          !(isLoading$ | async) && (course$ | async) as course;
          else: loading
        "
      >
        <div *ngIf="!(isError$ | async); else: error">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">
                    {{ course.subject }} {{ course.catalog_number }}
                    {{ course.title }}
                  </h2>
                  <p class="card-text">{{ course.description }}</p>
                  <div>
                    <ul>
                      <li>
                        <b>Academic Level: </b
                        ><span>{{ course.academic_level }}</span>
                      </li>
                      <li *ngIf="course.antirequisites">
                        <b>Anti-requisites: </b>
                        <span>{{ course.antirequisites }}</span>
                      </li>
                      <li *ngIf="course.prerequisites">
                        <b>Pre-requisites: </b>
                        <span>{{ course.prerequisites }}</span>
                      </li>
                      <li
                        *ngIf="
                          course.terms_offered &&
                          course.terms_offered.length > 0
                        "
                      >
                        <b>Terms Offered: </b>
                        <span>{{ course.terms_offered }}</span>
                      </li>
                      <li *ngIf="course.notes">
                        <b>Notes: </b> <span>{{ course.notes }}</span>
                      </li>
                      <li>
                        <a
                          class="card-link course-website-link"
                          href="{{course.url}}"
                          >Course Website</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row course-meta-container" *ngIf="!(isError$ | async)">
          <div class="col-12">
            <app-course-meta [course]="course"></app-course-meta>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #error
  ><p class="message-padding-lg-center">
    Failed to retrieve course data
  </p></ng-template
>
<ng-template #loading><app-spinner></app-spinner></ng-template>
