<div
  *ngIf="!(isLoading$ | async) && (schedule$ | async) as schedule; else loading"
>
  <div
    *ngIf="
      !(isError$ | async) && schedule.listToDisplay.length > 0;
      else notfound
    "
  >
    <ul class="schedule-list">
      <li class="schedule-item" *ngFor="let section of schedule.listToDisplay">
        <div>
          <p class="item-name">
            <b>{{ section.section }} ({{ section.campus }})</b>
          </p>
          <div>
            <ul>
              <li *ngFor="let class of section.classes">
                <ul class="schedule-details">
                  <li class="detail-item">
                    <i class="far fa-clock icon"></i
                    ><span *ngIf="class.date.is_tba">TBA</span
                    ><span *ngIf="!class.date.is_tba"
                      >{{ class.date.start_time }} -
                      {{ class.date.end_time }} ({{
                        class.date.weekdays
                      }})</span
                    >
                  </li>
                  <li
                    class="detail-item"
                    *ngIf="class.date.start_date && class.date.end_date"
                  >
                    <i class="far fa-calendar-alt icon"></i
                    ><span
                      >{{ class.date.start_date }} -
                      {{ class.date.end_date }}</span
                    >
                  </li>

                  <li
                    class="detail-item"
                    *ngIf="
                      class.location &&
                      (class.location.building || class.location.room)
                    "
                  >
                    <i class="fas fa-location-arrow icon"></i
                    ><span
                      >{{ class.location.building }}
                      {{ class.location.room }}</span
                    >
                  </li>
                  <li
                    class="detail-item"
                    *ngIf="class.instructors && class.instructors.length > 0"
                  >
                    <i class="far fa-user icon"></i
                    ><span>{{ class.instructors }}</span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <app-paginator
      [size]="schedule.paginatedList.length"
      (emitter)="handlePaginationEvent($event)"
    ></app-paginator>
  </div>
</div>
<ng-template #notfound
  ><p class="message-padding-lg-center">No schedule found</p></ng-template
>
<ng-template #loading><app-spinner></app-spinner></ng-template>
