<div
  *ngIf="
    !(isLoading$ | async) && (schedule$ | async) as schedule;
    else: loading
  "
>
  <div *ngIf="!(isError$ | async) && schedule.length > 0; else: notfound">
    <ul class="list-group" style="max-height: 40vh; overflow-y: auto">
      <li class="list-group-item" *ngFor="let section of schedule">
        <div>
          <b>{{ section.section }} ({{ section.campus }})</b>
          <div>
            <ul>
              <li *ngFor="let class of section.classes">
                <div>
                  <span>Time: </span><span *ngIf="class.date.is_tba">TBA</span
                  ><span *ngIf="!class.date.is_tba"
                    >{{ class.date.weekdays }} {{ class.date.start_time }} -
                    {{ class.date.end_time }}</span
                  >
                </div>
                <div>
                  <span>Instructors: </span><span>{{ class.instructors }}</span>
                </div>
                <div *ngIf="class.location">
                  <span>Location: </span
                  ><span
                    >{{ class.location.building }}
                    {{ class.location.room }}</span
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<ng-template #notfound
  ><p class="message-padding-lg-center">No schedule found</p></ng-template
>
<ng-template #loading><app-spinner></app-spinner></ng-template>
