div {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div .loader {
  display: inline-block;
  width: 4em;
  height: 4em;
  animation: jump 0.4s linear infinite;
}

@keyframes jump {
  0%,
  100% {
    transform: initial;
  }

  50% {
    transform: translateY(-0.4em);
  }
}
