<ng-container *ngIf="!(isLoading$ | async); else: loading">
  <ul class="tabs">
    <ng-container *ngIf="(terms$ | async) as term">
      <li class="tab-item">
        <a
          class="tab-item-link"
          href="javascript:;"
          *ngIf="term.current_term"
          [ngClass]="{
            active: currentMeta === COURSE_SCHEDULE_META
          }"
          (click)="handleCourseSchedule(term.current_term.id)"
          >Course Schedule</a
        >
      </li>
      <li class="tab-item">
        <a
          class="tab-item-link"
          href="javascript:;"
          (click)="handleNextTermCourseSchedule(term.next_term.id)"
          [ngClass]="{
            active: currentMeta === NEXT_TERM_SCHEDULE_META
          }"
          >{{ term.next_term.name }} Schedule</a
        >
      </li>
    </ng-container>
    <li class="tab-item">
      <a
        class="tab-item-link"
        href="javascript:;"
        [ngClass]="{ active: currentMeta === EXAM_SCHEDULE_META }"
        (click)="handleExamSchedule()"
        >Exam Schedule</a
      >
    </li>
  </ul>
  <div [ngSwitch]="currentMeta">
    <ng-container *ngSwitchCase="COURSE_SCHEDULE_META">
      <app-course-schedule></app-course-schedule>
    </ng-container>
    <ng-container *ngSwitchCase="NEXT_TERM_SCHEDULE_META">
      <app-course-schedule></app-course-schedule>
    </ng-container>
    <ng-container *ngSwitchCase="EXAM_SCHEDULE_META">
      <app-exam-schedule></app-exam-schedule>
    </ng-container>
  </div>
</ng-container>
<ng-template #loading
  ><p class="message-padding-lg-center">Loading...</p></ng-template
>
