<div class="container">
  <div class="row">
    <div class="col-12">
      <app-search-bar
        (contentEmitter)="handleFilter($event)"
        [placeHolder]="'Search by id, code, or title (e.g., CS 350)...'"
      ></app-search-bar>
      <div
        *ngIf="
          !(isLoading$ | async) && (courses$ | async) as courses;
          else: loading
        "
      >
        <ul
          class="list"
          *ngIf="!(isError$ | async) && courses.length > 0; else: notfound"
        >
          <li *ngFor="let course of filterCourses(courses)">
            <a
              class="list-item"
              [routerLink]="[
                '/subjects',
                course.subject,
                'courses',
                course.course_id
              ]"
              >{{ course.subject }} {{ course.catalog_number }}
              {{ course.title }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<ng-template #loading><app-spinner></app-spinner></ng-template>
<ng-template #notfound
  ><p class="message-padding-lg-center">No course found!</p></ng-template
>
