<ng-container
  *ngIf="
    !(isLoading$ | async) && (examSchedule$ | async) as examSchedule;
    else: loading
  "
>
  <ng-container
    *ngIf="!(isError$ | async) && examSchedule.sections; else: notfound"
  >
    <ul class="schedule-list exam-schedule-list">
      <li class="schedule-item" *ngFor="let section of examSchedule.sections">
        <p class="item-name">
          <b>SECTION {{ section.section }}</b>
        </p>
        <ul class="schedule-details">
          <li class="detail-item" *ngIf="section.date || section.day">
            <i class="far fa-calendar-alt icon"></i
            ><span>{{ section.day }} {{ section.date }}</span>
          </li>
          <li
            class="detail-item"
            *ngIf="section.start_time || section.end_time"
          >
            <i class="far fa-clock icon"></i
            ><span>{{ section.start_time }} - {{ section.end_time }}</span>
          </li>
          <li class="detail-item" *ngIf="section.location">
            <i class="fas fa-location-arrow icon"></i
            ><span>{{ section.location }} </span>
          </li>
          <li class="detail-item" *ngIf="section.notes">
            <i class="far fa-sticky-note icon"></i
            ><span>{{ section.notes }} </span>
          </li>
        </ul>
      </li>
    </ul>
  </ng-container>
</ng-container>
<ng-template #notfound>
  <p class="message-padding-lg-center">No exam schedule found</p>
</ng-template>
<ng-template #loading><app-spinner></app-spinner></ng-template>
